{% macro input(name, value, type, size) %}
  <input class="form-control" type="{{ type|default('text') }}" name="{{ name }}" value="{{ value|e }}" size="{{ size|default(20) }}" />
{% endmacro %}

{% macro text(name, value, editable, label, size) %}
    <label> {{ label |default("") |e }}
        <input class="form-control" type="text" name="{{ name }}"
               {% if (editable) %}{% else %}
                    disabled
               {% endif %}
               value="{{ value|e }}" size="{{ size|default(20) }}" />
    </label>
{% endmacro %}

{% macro date(name, value, editable, label) %}
    <label> {{ label |default("") |e }}
        <input class="form-control" type="date" name="{{ name }}"
               {% if (editable) %}{% else %}
                    disabled
               {% endif %}
               {% if value != null %} {# |default("now") nefunguje#}
                    value="{{ value |date("yyyy-MM-dd") }}"
               {% else %}
                    value=""
               {% endif %}
        />
    </label>
{% endmacro %}

{% macro datetime(name, value, editable, label) %}
  {#  <label> {{ label |default("") |e }}
        <input class="form-control" type="datetime-local" name="{{ name }}"
               {% if (editable) %}{% else %}
                    disabled
               {% endif %}
               value="{{ value |date("yyyy-MM-dd\THH:mm:ss") }}" />
    </label>#}
    <label> {{ label |default("") |e }}
        <input class="form-control" type="text" name="{{ name }}"
                {% if (editable) %}{% else %}
                    disabled
                {% endif %}
                {% if value != null %}
                 value="{{ value |date("yyyy-MM-dd HH:mm:ss") }}"
                {% else %}
                  value=""
                {% endif %}
        />
    </label>
{% endmacro %}

{% macro time(name, value, editable, label) %}
    <label> {{ label |default("") |e }}
        <input class="form-control" type="time" name="{{ name }}"
               {% if (editable) %}{% else %}
                    disabled
               {% endif %}
               {% if value != null %}
                value="{{ value |date("HH:mm:ss") }}"
               {% else %}
                value=""
               {% endif %}
        />
    </label>
{% endmacro %}

{% macro decimal(name, value, editable, label, size) %}
    <label> {{ label |default("") |e }}
        <input class="form-control" type="number" name="{{ name }}"
               {% if (editable) %}{% else %}
                    disabled
               {% endif %}
               value="{{ value | e }}" size="{{ size|default(10) }}" />
    </label>
{% endmacro %}

{% macro integer(name, value, editable, label, size) %}
    <label> {{ label |default("") |e }}
        <input class="form-control" type="number" name="{{ name }}"
               {% if (editable) %}{% else %}
                    disabled
               {% endif %}
               value="{{ value | e }}" size="{{ size|default(10) }}" />
    </label>
{% endmacro %}

{% macro formMeta(form) %}
    <table  class="table table-striped">
        <tr>
            <th>filled at:</th>
            <td>{% if form.filledAt != null %}{{ form.filledAt | date("yyyy-MM-dd HH:mm:ss") }}{% else %}-{% endif %}</td>
        </tr>
        <tr>
            <th>approved at:</th>
            <td>{% if form.approvedAt != null %}{{ form.approvedAt | date("yyyy-MM-dd HH:mm:ss") }}{% else %}-{% endif %}</td>
        </tr>
        <tr>
            <th>approved by:</th>
            <td>{{ form.admin }}</td>
        </tr>
    </table>
{% endmacro %}


{% macro filledField(filledField, editable) %}
    {% import _self as forms %}
    {% set type = filledField |fieldtype %}
    <div>
    {% if type == "date" %}
        {{ forms.date(filledField.field.name,  filledField.data, editable, filledField.field.label ) }}
    {% elseif type == "datetime" %}
        {{ forms.datetime(filledField.field.name,  filledField.data, editable, filledField.field.label ) }}
    {% elseif type == "time" %}
        {{ forms.time(filledField.field.name,  filledField.data, editable, filledField.field.label ) }}
    {% elseif type == "decimal" %}
        {{ forms.decimal(filledField.field.name,  filledField.data, editable, filledField.field.label ) }}
    {% elseif type == "integer" %}
        {{ forms.integer(filledField.field.name,  filledField.data, editable, filledField.field.label ) }}
    {% elseif type == "text" %}
        {{ forms.text(filledField.field.name,  filledField.data, editable, filledField.field.label ) }}
    {% else %}
        <b>WRONG TYPE >{{ type }}< </b>
    {% endif %}
    <p>{{ filledField.field.publicDescription }}</p>
    </div>
{% endmacro %}

{% macro field(field, editable) %}
    {% import _self as forms %}
    {% set type = field |fieldtype %}
    <div>
        {% if type == "date" %}
            {{ forms.date(field.name, null, editable, field.label ) }}
        {% elseif type == "datetime" %}
            {{ forms.datetime(field.name, null, editable, field.label ) }}
        {% elseif type == "time" %}
            {{ forms.time(field.name, null, editable, field.label ) }}
        {% elseif type == "decimal" %}
            {{ forms.decimal(field.name, null, editable, field.label ) }}
        {% elseif type == "integer" %}
            {{ forms.integer(field.name, null, editable, field.label ) }}
        {% elseif type == "text" %}
            {{ forms.text(field.name, null, editable, field.label ) }}
        {% else %}
            <b>WRONG TYPE >{{ type }}< </b>
        {% endif %}
        <p>{{ field.publicDescription }}</p>
    </div>
{% endmacro %}
