
<h1>Field type test</h1>


{% import "../macros/form.twig" as forms %}

<h3>Genral input <br/><small>input(name, value, type, size = 20)</small></h3>
<p>{{ forms.input('username', "", "number", "20") }}</p>

<h3>Text input <br/><small>text(name, value, size = 20)</small></h3>
<p>{{ forms.text('text', "implicit", "20") }}</p>

<h3>Date input <br/><small>date(name, value)</small></h3>
<p>{{ forms.date('date',  date ) }}</p>

<h3>Datetime input <br/><small>datetime(name, value)</small></h3>
<p>{{ forms.datetime('datetime',  date ) }}</p>

<h3>Time input <br/><small>time(name, value)</small></h3>
<p>{{ forms.time('time',  date ) }}</p>

<h3>Decimal <br/><small>decimal(name, value, size = 10)</small></h3>
<p>{{ forms.decimal('decimal',  15.78 ) }}</p>

<h3>Int input <br/><small>integer(name, value, size = 10)</small></h3>
<p>{{ forms.integer('integer',  5 ) }}</p>