{#
TEMPLATE EXPECTS
"date", Date // sample date
"field" DateField // sample
#}
{% extends "../base.twig" %}

{% block title %}Field test{% endblock %}
{% block content %}
    <h1>Field type test</h1>


    {% import "../macros/form.twig" as forms %}

    {#<h3>Genral input (input)</h3>#}
    {#<p>{{ forms.input('username', "", "number", "20", "label") }}</p>#}



    <h3>Text input (text)</h3>
    <p>{{ forms.text('text', "implicit", true, "label", "20") }}</p>
    <p>{{ forms.text('textf', "implicit", false, "label", "20") }}</p>

    <h3>Date input (date)</h3>
    <p>{{ forms.date('date',  date, true, "label" ) }}</p>
    <p>{{ forms.date('datef',  date, false, "label" ) }}</p>

    <h3>Datetime input (datetime)</h3>
    <p>{{ forms.datetime('datetime',  date , true, "label") }}</p>
    <p>{{ forms.datetime('datetimef',  date , false, "label") }}</p>

    <h3>Time input (time)</h3>
    <p>{{ forms.time('time',  date, true, "label" ) }}</p>
    <p>{{ forms.time('timef',  date, false, "label" ) }}</p>

    <h3>Decimal (decimal)</h3>
    <p>{{ forms.decimal('decimal',  15.78, true, "label" ) }}</p>
    <p>{{ forms.decimal('decimalf',  15.78, false, "label" ) }}</p>

    <h3>Int input (integer)</h3>
    <p>{{ forms.integer('integer',  5 , true, "label") }}</p>
    <p>{{ forms.integer('integerf',  5 , false, "label") }}</p>

    <h3>Field</h3>
    <p>{{ forms.field(field, true) }}</p>

    <h3>Filled Field</h3>
    <p>{{ forms.filledField(ff, true) }}</p>
{% endblock %}
