{#
TEMPLATE EXPECTS
"archetypes" = List<Archetypes> //List of Archetypes
#}

{% extends "base.twig" %}

{% block title %}Seznam Archetypu{% endblock %}
{% block content %}

    <h1>Seznam archetypu</h1>

    {#<form method="post" action="">#}
        <table class="table table-striped">
            <tr>
                <th>Jmeno archetypu</th>
                <th>Verejny popis</th>
                <th>Privatni popis</th>
               {# <th>Verejny</th>
                <th>Aktivni</th>#}
                <th colspan="2">Akce</th>
            </tr>

            {% for arch in archetypes %}
                <tr>
                    <td>{{ arch.name }}</td>
                    <td>{{ arch.publicDescription }}</td>
                    <td>{{ arch.privateDescription }}</td>
                    {#<td>
                        <label>
                            <input type="radio" name="{{ arch.name }}['public']" value="1" /> verejny
                        </label>
                        <label>
                            <input type="radio" name="{{ arch.name }}['public']" value="0" /> privatni
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="radio" name="{{ arch.name }}['active']" value="1" /> aktivni
                        </label>
                        <label>
                            <input type="radio" name="{{ arch.name }}['active']" value="0" /> neaktivni
                        </label>
                    </td>#}
                    <td><a href="form/{{ arch.name }}">Vyplnit</a></td>
                    <td><a href="#">Zobrazit vyplnene formulare TODO</a></td>
                </tr>
            {% endfor %}
        </table>
        {#<input type="submit" value="odeslat" />#}
    {#</form>#}

{% endblock %}