{#
TEMPLATE EXPECTS
"form" = Form
#}

{% extends "base.twig" %}
{% import "macros/form.twig" as forms %}

{% block title %}Uprava formulare{{ form.archetype.name }} {{ form.id }}{% endblock %}
{% block content %}

    <h1>{{ form.archetype.name }} {{ form.id }}</h1>

    {{ forms.formMeta(form) }}

    <form method="post" action="">
        {% for filledField in form.filledFields %}
            {{ forms.filledField(filledField, true) }}
        {% endfor %}
        <input type="submit" value="odeslat" />
    </form>

{% endblock %}