{#
TEMPLATE EXPECTS
"forms" = ArrayList<Form> // pole formularu
#}

{% extends "base.twig" %}
{% import "macros/form.twig" as forms %}

{% block title %}Seznam formularu{% endblock %}
{% block content %}

    <h1>Seznam formularu</h1>

    <form method="post" action="">

        <table>
            <tr>
                <th>Jmeno archetypu</th>
                <th>id formulare</th>
                <th>Schvaleni</th>
                <th>Aktivni</th>
            </tr>
            {% for form in forms %}
                <tr>
                    <td>{{ form.archetype.id }}</td>
                    <td>{{ form.id }}</td>
                    <td>
                        <label>
                            <input type="radio" name="{{ form.id }}['approve']" value="0" /> neschvaleno
                        </label>
                        <label>
                            <input type="radio" name="{{ form.id }}['approve']" value="1" /> chvaleno
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="number" name="{{ form.id }}['person']" value="1" /> id osoby
                        </label>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <input type="submit" value="odeslat" />
    </form>

{% endblock %}




