{#
TEMPLATE EXPECTS
"archetype" = Archetype
"forms" = List<Form> // formulare archetypu
#}

{% extends "base.twig" %}

{% block title %}Archetyp {{ archetype.name }}{% endblock %}
{% block content %}

    <h1>{{ archetype.name }}</h1>
    <p>{{ archetype.publicDescription }}</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Form id</th>
                <th>Filled at</th>
            </tr>
        </thead>
        {% if forms != null %}
            {% for form in forms %}
                <tr>
                    <td><a href="/form/{{ archetype.name }}/{{ form.id }}">{{ form.id }}</a></td>
                    <td>{{ form.filledAt | date("yyyy-MM-dd HH:mm:ss") }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}
